<img src="assets/img/home.jpg" id="bg" alt="">
<div id="container" style="margin-left: 15px;">
  <h1>Rocket Agency</h1>
  <img src="assets/img/rocketlogo.png" width="6%" routerLink="/">
  <div class="row">
    <button>Show air-companies</button>
    <button>Show rent-a-car services</button>
    <button class="btn btn-success" routerLink="/login">Log In</button>
    <button class="btn btn-success" routerLink="/register">Register</button>
    <button class="btn btn-success" routerLink="/profile">Edit profile</button>
  </div>  
</div>
<router-outlet></router-outlet>
