<div class="limiter" style="position: relative;">
    <div class="container-table100">
        <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Rent-a-car Service
                        </div>
                        <div class="cell">
                            Address
                        </div>
                        <div class="cell">
                            Rating
                        </div>
                        <div class="cell">
                            Locations
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            Washington
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            Somerville, MA
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            Los Angeles
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            San Francisco
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            New York, NY
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            New York
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            Washington
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell" data-title="Rent-a-car Service">
                            Rent Serbia
                        </div>
                        <div class="cell" data-title="Address">
                            Belgrade
                        </div>
                        <div class="cell" data-title="Rating">
                            5
                        </div>
                        <div class="cell" data-title="Locations">
                            Somerville, MA
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
