<table style="position: relative;" border="1">
    <tr>
        <td></td>
        <td>
            <label>From</label>
        </td>
        <td>
            <label>To</label>
        </td>
    </tr>
    <tr>
        <td>Search by destination</td>
        <td>
            <input type="text" value="" id="DestinationFrom"/>
        </td>
        <td>
            <input type="text" value="" id="DestinationTo"/>
        </td>
        <td colspan="2">
            <button (click)="onSearchClick()">Search destinations</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label>Takeoff date</label>
        </td>
        <td>
            <label>Landing date</label>
        </td>
    </tr>
    <tr>
        <td>Search by date</td>
        <td>
            <input type="date" value="" id="TakeoffDate"/>
        </td>
        <td>
            <input type="date" value="" id="LandDate"/>
        </td>
        <td colspan="2">
            <button (click)="onSearchDateClick()">Search date</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
        </td>
        <td>
        </td>
        <td>
            <button (click)="onSearchBothClick()">Search by both</button>
        </td>
        <td colspan="2">
            <button (click)="onResetClick()">Reset</button>
        </td>
    </tr>
</table>

<div class="limiter" style="position: relative;">
    <div class="container-table100">
        <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Air Company
                        </div>
                        <div class="cell">
                            Address
                        </div>
                        <div class="cell">
                            About
                        </div>
                        <div class="cell">
                            Price
                        </div>
                    </div>

                    <div class="row" *ngFor="let item of allCompanies" routerLink="/aircompanylist/{{item.Id}}/details">
                        <div class="cell" data-title="Air Company">
                            {{item.Name}}
                        </div>
                        <div class="cell" data-title="Address">
                            {{item.Address}}
                        </div>
                        <div class="cell" data-title="About">
                            {{item.About}}
                        </div>
                        <div class="cell" data-title="Price">
                            {{item.Prices}}
                        </div>
                    </div>

                    

                </div>
        </div>
    </div>
</div>
