
<div class="limiter" style="position: relative;">
    <div class="container-table100">
        <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Air Company
                        </div>
                        <div class="cell">
                            Address
                        </div>
                        <div class="cell">
                            About
                        </div>
                        <div class="cell">
                            Price
                        </div>
                    </div>

                    <div class="row" *ngFor="let item of allCompanies" routerLink="/aircompanylist/{{item.Name}}/details">
                        <div class="cell" data-title="Air Company">
                            {{item.Name}}
                        </div>
                        <div class="cell" data-title="Address">
                            {{item.Address}}
                        </div>
                        <div class="cell" data-title="About">
                            {{item.About}}
                        </div>
                        <div class="cell" data-title="Price">
                            {{item.Prices}}
                        </div>
                    </div>

                    

                </div>
        </div>
    </div>
</div>
