
<div class="limiter" style="position: relative;">
    <div class="container-table100">
        <div class="wrap-table100">
                <div class="table">

                    <div class="row header">
                        <div class="cell">
                            Air Company
                        </div>
                        <div class="cell">
                            Address
                        </div>
                        <div class="cell">
                            Rating
                        </div>
                        <div class="cell">
                            Destination
                        </div>
                    </div>

                    <div class="row" *ngFor="let item of allCompanies" routerLink="/aircompanylist/{{item.name}}/details">
                        <div class="cell" data-title="Air Company">
                            {{item.name}}
                        </div>
                        <div class="cell" data-title="Address">
                            {{item.address}}
                        </div>
                        <div class="cell" data-title="Rating">
                            {{item.rating}}
                        </div>
                        <div class="cell" data-title="Destination">
                            {{item.destinations}}
                        </div>
                    </div>

                    

                </div>
        </div>
    </div>
</div>
